#banner {
    width: 100%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

.principal {
    background: #CCC;
    padding: 30px;
}

em strong {
    color: #f00;
}

.beneficios {
    background: #fff;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
}

.img-beneficios {
    width: 50%;
}